<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26139423354-th38mr03je3f69iqbgiqegbgksv3v4pv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26139423354-th38mr03je3f69iqbgiqegbgksv3v4pv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>26139423354-1dko7k66ijpgd5cibhol11gteccvbuj3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDytjuSo1zkRK0qJjlCJBfmkp8rhHZn3KM</string>
	<key>GCM_SENDER_ID</key>
	<string>26139423354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ohmypet</string>
	<key>PROJECT_ID</key>
	<string>ohmypetauht</string>
	<key>STORAGE_BUCKET</key>
	<string>ohmypetauht.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26139423354:ios:4795b7e00d411a477f81c3</string>
</dict>
</plist>